[2020-12-14 14:23] aavishkarmishra opened #3 "API key for security"
Secure the APIs by using api _key or other methods.

[2020-12-14 14:26] aavishkarmishra commented on #3
Please, take care of this issue @kartikpapney

[2020-12-15 16:10] aavishkarmishra commented on #3
@vidisha-kayal

[2020-12-28 14:33] aavishkarmishra opened #4 "Making class code only visible for instructor."
**Please make the class code only visible to teacher/instructor**
In a class card in class code is accessible by everyone who join the class, please make it visible for only class instructor
![Screenshot from 2020-12-28 19-59-08](https://user-images.githubusercontent.com/58372823/103221078-c9ad1000-4947-11eb-8422-aae0e88b2f5d.png)

[2020-12-29 11:50] aavishkarmishra opened #5 "Unable to create class"
**Describe the bug**
Unable to create classroom when submitting it only with `class name`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Create Class
2. Submit the form with class name only.
3. You can see that classroom is not created.

**Expected behavior**
It should create class without `subject` and `subject code`

**Screenshots**
![Screenshot from 2020-12-29 15-39-10](https://use

[2020-12-29 11:54] Vidisha-kayal opened #6 "Edit and delete option for classroom"
**Problem**
There is no option to leave or edit the classroom
It requires an **edit option so that the teacher** who creates the particular classroom can modify it and a **delete option so that the classroom can be deleted** after completion of the test.
**Screenshots**
![Screenshot from 2020-12-28 19-59-08](https://user-images.githubusercontent.com/58372823/103282284-48af5080-49fb-11eb-9a80-ccb5f

[2020-12-29 12:00] Vidisha-kayal opened #7 "Option to view students"
**Is your feature request related to a problem? Please describe.**
There is no section to view the students who have enrolled in the classroom to give the test.

**Describe the solution you'd like**
It would be nice if there is an option to view the students who have enrolled in the classroom.

[2020-12-29 12:15] Vidisha-kayal opened #8 "Option to remove student"
**Is your feature request related to a problem? Please describe.**
There is no option with the help of which a teacher can remove a student from the classroom.

**Describe the solution you'd like**
An option to remove any particular student from the classroom.

[2020-12-29 15:45] RitikPandey1 commented on #5
I'd like to work on thi issue

[2020-12-29 18:20] aavishkarmishra opened #9 "Create Testing code."
### Need unit tests
Required some unit testing to test the code before pulling the PRs, it will be better if anyone can implement that.
- Checkfor linting
- Check for errors and typos
- etc..

[2020-12-30 14:57] aavishkarmishra commented on #5
Yes, @RitikPandey1 please continue with this issue.

[2020-12-30 15:31] RitikPandey1 commented on #5
Ok 👍

[2020-12-31 02:53] Rishi-121 commented on #3
Hey @aavishkarmishra, here we can add the RBAC mechanism for more route protection!

[2020-12-31 07:01] Rishi-121 commented on #4
In the server, I can add an extra key as a role for the instructor and students, then on the front-end, We can easily validate that one, and as per that, we can render.

[2020-12-31 07:02] Rishi-121 commented on #8
I want to handle it!

[2021-01-02 10:59] RitikPandey1 commented on #5
while running the application in my local system,  I was not able to login and got this error.
@aavishkarmishra,  please check this out

![error2](https://user-images.githubusercontent.com/57366926/103455895-0f3a5600-4d17-11eb-9628-dda78267fc7a.PNG)

[2021-01-02 11:49] aavishkarmishra commented on #5
Please `git pull` and then restart the **client app**.  If problem continues then check your internet connection _**for login and other operations internet should be connect**_.

[2021-01-02 12:32] RitikPandey1 commented on #5
It still showing "falied to log in".
In devtools it shows some issue regarding cookies.

![err](https://user-images.githubusercontent.com/57366926/103457326-45ca9d80-4d24-11eb-9bde-efabbc90f939.PNG)

[2021-01-02 12:51] aavishkarmishra commented on #5
@mohit355 Please look into this problem. Is this happening in your system also ?

[2021-01-02 12:58] RitikPandey1 commented on #5
I am facing same issue  on this link also :- https://manthan-app.herokuapp.com/

![error2](https://user-images.githubusercontent.com/57366926/103457789-4bc27d80-4d28-11eb-9908-37dd3654dcb5.PNG)

[2021-01-02 13:10] RitikPandey1 commented on #5
Now it works,  third party cookies are blocked in my browser due to which this happened

[2021-01-02 18:37] loneWarrior581 opened #12 "Questions with no content/options can be added"
**Describe the bug**
The examiner can add a question without providing some text and options in the respective question and the test can be created without the questions and the options

**Expected behavior**
The class room teacher cannot add a question without providing the question and the the options

[2021-01-03 15:06] aavishkarmishra opened #13 "Docker setup for development"
### Setup docker for development
Please setup docker with local mongodb for backend to run the app in development environment and improve the docs [**here**](https://github.com/Manthan933/Manthan/wiki/Running-the-application).

[2021-01-05 05:41] RitikPandey1 commented on #12
Hey, I would like to work on this

[2021-01-05 17:43] N00Bmaster2810 commented on #7
@aavishkarmishra sir, if this issue is available can I work on it under SWOC?

[2021-01-05 17:51] aavishkarmishra commented on #7
Yes, I will assign this issue to you and please create a pull request within a week so that we can assign mentors to you.

[2021-01-06 14:17] Rishi-121 opened #15 "Join and Leave Classroom Routes are not working"
![Screenshot (106)](https://user-images.githubusercontent.com/62418363/103778330-1b484f80-5058-11eb-9cbb-7e7f0568331b.png)
**Describe the bug**
Join and Leave the classroom controllers are not properly configured!

[2021-01-06 14:18] Rishi-121 commented on #15
I want to resolve this!

[2021-01-06 17:49] vikhyatsingh123 commented on #15
@Rishi-121 Go ahead

[2021-01-06 19:32] Rishi-121 commented on #15
Please check my pull request!

[2021-01-07 10:42] #5 closed

[2021-01-08 14:34] aavishkarmishra opened #18 "Page to view test scores."
### Create a page to view scores
Test object have a scores array having object with student's email and score, please create a page so that instructors can view the scores of students.

Features required :
- Scores can be sorted
- Scores can be edited
- Responsive design

**Additional context**
Please use **materialUI** instead of bootstrap or react bootstrap.

[2021-01-09 11:44] pritamp17 commented on #18
@aavishkarmishra could you assign this to me?

[2021-01-12 21:12] Sloth-Panda opened #19 "creation of codeOfConduct and Contributing files"
Let me know if this needs to be done

[2021-01-12 21:13] Sloth-Panda opened #20 "readme updation"
Readme can be made to look attractive by adding different gifs

Let me know if this needs to be done

[2021-01-13 03:47] aavishkarmishra commented on #20
Yes, @Sloth-Panda please continue with this and create a pull request for that.

[2021-01-13 03:52] aavishkarmishra commented on #19
Code of conduct as been created in wiki, you can refer to that while creating those files. @Sloth-Panda

[2021-01-13 09:29] #12 closed

[2021-01-13 13:14] RitikPandey1 opened #21 "Bug : "Teacher can create test without providing test name and marks""
**Describe the bug**
Teacher can create test without providing test name and marks

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'class'
2. Click on '+' icon in bottom to create test
3. Then click next without adding  name and marks

**Expected behavior**
It will show an error and also not move further  if teacher doesn't  provide test name and marks.

[2021-01-13 13:14] RitikPandey1 commented on #21
I would like to resolve this bug

[2021-01-13 13:16] aavishkarmishra commented on #21
Assigning this issue to you 👍🏻

[2021-01-14 21:25] Sloth-Panda commented on #20
@aavishkarmishra  kindly check the pr and let me know if any modifications needs to be done

[2021-01-14 21:31] Sloth-Panda opened #25 "Integration of welcome bot"
Welcome bot can be integrated which will help first timers when they make their first pr or raise their first issue and so

[2021-01-18 10:13] #19 closed

[2021-01-18 10:13] #20 closed

[2021-01-21 12:34] aavishkarmishra commented on #8
Hello, @Rishi-121 are you still working on this issue ?
Please create a pull request if you need any help, or if you are not interested then we can reassign this issues to someone else.

[2021-01-21 12:37] aavishkarmishra commented on #3
Hello, @Rishi-121 are you still working on this issue ?
Please create a pull request if you need any help, or if you are not interested then we can assign this issues to someone else.

This issue will be reassigned to you, whenever you create a pull request regarding this issue.

[2021-01-21 12:38] aavishkarmishra commented on #4
Hello, @Rishi-121 are you still working on this issue ?
Please create a pull request if you need any help, or if you are not interested then we can assign this issues to someone else.

This issue will be reassigned to you, whenever you create a pull request regarding this issue.

[2021-01-21 13:05] aavishkarmishra opened #27 "Page to give test"
### Create a page to give test and after submission add the scores to the scores array.

- Have to create frontend page for test
- Have to create an api that will add score of student to scores array
- Have to integrate this api to frontend.

[2021-01-24 20:44] #21 closed

[2021-01-27 10:49] #9 closed

[2021-01-27 10:50] #15 closed

[2021-01-27 10:50] #3 closed

[2021-01-27 10:52] aavishkarmishra opened #28 "Option for students to leave classrooms"
There is no option to leave classroom.
So please create an option to leave classroom for students only.

[2021-01-27 13:07] pccoder-2000 commented on #28
I would like to work on this issue :)

[2021-01-27 13:28] aavishkarmishra commented on #28
I am assigning this issue to you.
Happy contributing 💯

[2021-01-30 11:53] ShubhamChaudharyy opened #29 "Should be a Numeric Value in Duration Box"
When you create description of a test, the duration column should have a formatted input in form of hours and minutes rather than this format i.e at present -> "17:18" this should be like "x hours 2 minutes".
Ideas->
You can use moment.js for time functionality
![Screenshot (317)](https://user-images.githubusercontent.com/43263087/106355719-d5616d00-631f-11eb-995f-7234421cc1a2.png)

[2021-01-31 19:14] imakash3011 commented on #25
I would like to work on this issue.

[2021-01-31 19:26] imakash3011 commented on #25
I would like to work on this issue.

[2021-02-01 05:47] deepthiteki commented on #4
Hey, Can I work on this?

[2021-02-01 06:11] aavishkarmishra commented on #25
I am assigning this issue to you.

[2021-02-01 06:22] aavishkarmishra commented on #4
Yes, I am assigning this you @deepthiteki.

[2021-02-01 10:28] #13 closed

[2021-02-01 13:14] Sloth-Panda commented on #25
hey @aavishkarmishra can you please assign it to me too

[2021-02-01 13:39] Shivam7-1 opened #32 "Dynamic contributor images at readme.md"
Dynamic contributor images at readme.md file

[2021-02-02 10:32] aavishkarmishra commented on #25
The pull request for this issue has been created,  @Sloth-Panda  you can look out for more issues.

[2021-02-02 16:08] #4 closed

[2021-02-03 09:04] #25 closed

[2021-02-03 09:05] #32 closed

[2021-02-03 17:22] Kathuria commented on #29
@aavishkarmishra : Can I work on this issue, Instead of using moment.js I would try to find lighter alternative for this conversion.

[2021-02-03 17:27] Kathuria commented on #8
@aavishkarmishra : Can I try to solve this issue?

[2021-02-03 17:30] Kathuria commented on #6
@aavishkarmishra : Can I work on this?
Requirement:
Edit - Can allow editing of all values? like subject, subject code and class code, anything unique should be there always to identify classroom (id must be same - not checked code yet).

Delete: Particular id should be deleted for classroom after test.

[2021-02-03 17:34] Kathuria commented on #27
@aavishkarmishra :Can I work on one of the task like frontend page for test and can integrate api if anyone else can help to create.

Please provide designs if any or idea for the same.

[2021-02-09 12:54] Kathuria commented on #29
@aavishkarmishra : I will start working on it, In meantime Can you please assign me this issue.

[2021-02-09 12:54] Kathuria commented on #27
@aavishkarmishra : I will start working on it, In meantime Can you please assign me this issue.

[2021-02-09 12:54] Kathuria commented on #8
@aavishkarmishra : I will start working on it, In meantime Can you please assign me this issue.

[2021-02-09 12:54] Kathuria commented on #6
@aavishkarmishra : I will start working on it, In meantime Can you please assign me this issue.

[2021-02-13 14:40] Kathuria commented on #29
@ShubhamChaudharyy , @aavishkarmishra : Added a fix, Please review.

[2021-02-13 16:16] Kathuria opened #36 "Joining Class creating temp. duplicate instance for same class"
**Describe the bug**
Joining Classroom with available ClassCode is creating temporary classes, it should be unique code and process should navigate to class page.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the node server
2. Create a class
2. Go to '+' icon to join the same class with the class-code
3. See multiple instances of same class gets created.

**Expected behavior**
After

[2021-02-13 21:28] Kathuria commented on #6
@aavishkarmishra , @Vidisha-kayal : Both Required flow are done, Please review the changes

[2021-02-13 21:44] Kathuria commented on #36
@aavishkarmishra : This bug is fixed now. Can you please add SWOC and other required labels for tracking.

[2021-02-14 06:17] Kathuria opened #39 "Missing package-lock.json in client directory"
**Describe the bug**
Missing package-lock.json in client directory, Required for consistency!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'client' section
2. Check package-lock.json is missing

**Expected behavior**
package-lock.json signifies what package should be used with this project else in future it can break due to packages upgrade. We should keep this file updated whenever

[2021-02-14 06:22] Kathuria commented on #39
@aavishkarmishra : This is minor bug that I found while setting up repository - Can you please added required labels - Easy, SWOC, etc.
Can you please review/approve this merge - as its just addition of package-lock.json

[2021-02-14 07:17] Kathuria commented on #28
@pccoder-2000 , @aavishkarmishra : While working on adding an option to delete class - I added an icon of deletion into card.
This can act as triggering place for this case where you can apply API for leaving class or similar to that.
![Delete and Edit](https://user-images.githubusercontent.com/19428377/107870899-bc7dbd80-6ec2-11eb-9c5b-9a4640108a90.PNG)

[2021-02-14 07:35] Kathuria commented on #8
@aavishkarmishra , @Vidisha-kayal : This is similar feature to below mentioned feature.
Option for students to leave classrooms #28

Details:
Student | For leaving Classroom - user Id will be removed from users list of particular class. Just a simple prompt to confirm to leave class.

Teacher/Admin | Similarly, For Removing Student from class - user Id will be removed from users list of particular

[2021-02-18 06:20] abhijeet010304 commented on #8
Please assign this issue to me as a part of GSSOC21

[2021-02-18 06:37] Kathuria commented on #8
@abhijeet010304 : This is already done.

cc @aavishkarmishra

[2021-02-18 13:57] aavishkarmishra commented on #8
It will better if you can create a tab with list of student for respective class from where admin can remove any student, similar to google classroom.

[2021-02-18 14:00] aavishkarmishra commented on #28
Yes please proceed with issue.

[2021-02-18 14:13] #29 closed

[2021-02-19 10:26] Kathuria commented on #8
@abhijeet010304 : You can try this with above approach mentioned by @aavishkarmishra .
@aavishkarmishra : Please assign this issue to @abhijeet010304 - if he can work on this new approach for removing the student.

[2021-02-19 11:23] Kathuria commented on #28
@aavishkarmishra : This is also done, Please review and approve.

[2021-02-20 13:25] #8 closed

[2021-02-20 13:28] #36 closed

[2021-02-20 13:28] #39 closed

[2021-02-20 13:34] #6 closed

[2021-02-20 13:34] #28 closed

[2021-02-21 12:50] piyushsharma21 commented on #27
Hello, @aavishkarmishra : I can contribute on second task `_Have to create an API that will add score of student to scores array_`
Let me know if you have any structure in mind.

[2021-02-21 12:54] aavishkarmishra commented on #27
I have created an API for that you can check it in test routes, it provides question and their correct answers.

[2021-03-05 09:38] anirudhsai20 opened #45 "Grammatical errors in README.md file"
There are a lot of grammatical errors in the README.md file and few the sentecnces can be rephrased to better describe the project.

[2021-03-05 09:39] anirudhsai20 commented on #45
Hi @manthan933. Please allow me to work on this issue under GSSOC.

[2021-03-06 03:39] aavishkarmishra commented on #45
@anirudhsai20 You can proceed with this issue but **remember to create your pull requests after 8 March** as contributions period of GSSOC21 will start from 8 March.

[2021-03-06 03:53] deepthiteki commented on #18
Hey @aavishkarmishra
Can I work on this issue under GSSOC'21

[2021-03-07 09:55] #27 closed

[2021-03-07 10:00] aavishkarmishra opened #46 "Documentaion for docker installation"
There is an option to run app in development environment using **docker**, but there is not proper documentation for this.
Please add the respective documentation in README and wiki.

[2021-03-07 10:06] aavishkarmishra opened #47 "Add more login options"
There is only option for login using Google. It will be better if we can login using other platforms too ( as facebook, github etc. )

Add more login options as github and others.

[2021-03-07 15:28] sukhpreet-singh1 commented on #47
can you please assign me this issue under GSSOC 21, i would like to work on this issue

[2021-03-07 15:29] sukhpreet-singh1 commented on #46
can you please assign me this issue under GSSOC 21, i would like to work on this issue

[2021-03-07 16:38] aavishkarmishra commented on #18
Yes please proceed and ping me if anything is required from my side.

[2021-03-08 05:14] #7 closed

[2021-03-08 05:21] Itsaadarsh commented on #47
Hey there @aavishkarmishra, I'd like to work on this feature. So if it's not already assigned to anyone I'd like you it assign it to me so that I could get started right away.

[2021-03-08 11:08] aavishkarmishra commented on #47
@sukhpreet-singh1 as you are assigned to an issue, let @Itsaadarsh take this one.  And @Itsaadarsh ping me if anything is required from my side.

Happy contributing 👍🏻

[2021-03-08 11:12] aavishkarmishra opened #48 "Add delete test option"
There is no option to delete test in current updated.
Please add **delete test** option to delete specific test.

[2021-03-08 11:18] aavishkarmishra opened #49 "Unable multiple submission for a test."
**Describe the bug**
In current updated user can send multiple submission for same test which should not be allowed.

**To Reproduce**
Steps to reproduce the behavior:
-  Start any test and submit it.
-  Check whether you are able to submit again for same test .
-  See error.....

**Expected behavior**
User should not be able to open a test more than once.

[2021-03-08 11:23] aavishkarmishra opened #50 "Countdown timer durnig test"
There is no option to check how much time is left.
According to me countdown timer could can solve this problem.

**Any other ideas will be appreciated** 👍🏻 💯

[2021-03-08 12:40] surajondev opened #51 "Not properly aligned number of enrolled"
**Describe the bug**
In the navigation bar, under the enrolled the number of enrolled is not aligned properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `http://www.manthan-app.org/`
2. Click on 'Navigation three line'
3. Under the `enrolled`
4. See error

**Expected behavior**
It should be aligned just below the enrolled button and also in bold to show the importance of the enro

[2021-03-08 12:47] sukhpreet-singh1 commented on #46
@aavishkarmishra can you please tell ,i have to write documentation for installing docker or for running application through docker

[2021-03-08 12:53] Sukriti-sood commented on #48
@aavishkarmishra  Can you assign this to me

[2021-03-08 13:01] samridhikots commented on #48
@aavishkarmishra Can you assign this to me?

[2021-03-08 13:17] aavishkarmishra commented on #46
Running the application through docker.

[2021-03-08 13:17] aavishkarmishra commented on #46
You have to write the documentation for running the application using docker.

[2021-03-08 13:23] aavishkarmishra commented on #48
@Sukriti-sood @samridhikots Don't wait for someone to assign you, you can create a pull request whenever you want.
Please make your pull request, we will be assigning issues after pull requests has been created.

[2021-03-08 13:36] Ruchip16 commented on #48
@aavishkarmishra ok

[2021-03-08 14:00] Nidhikamewar15 commented on #51
I would like to work on this issue under GSSOC

[2021-03-08 15:01] Ruchip16 commented on #48
@aavishkarmishra  I have created a PR for this issue, do checkout

[2021-03-08 15:51] GuptaTanisha commented on #51
Can I work on this?

[2021-03-08 16:03] Ruchip16 commented on #50
@aavishkarmishra Can I work on this issue?

[2021-03-08 16:56] subhangi2731 commented on #49
can you please assign this to me?

[2021-03-08 17:18] Ruchip16 commented on #50
@aavishkarmishra  I have created  a pull request for this bug Do check it out
 https://github.com/Ruchip16/Manthan/pull/new/ruchicdtimer
https://github.com/aavishkarmishra/Manthan/pull/2

[2021-03-08 18:12] Sukriti-sood commented on #48
@aavishkarmishra  I have made changes and sent a PR.Please Check it.

[2021-03-08 19:59] codebuzzer01 commented on #47
Hey I would like to work on this issue.
@aavishkarmishra

[2021-03-08 20:32] anshika208 commented on #49
Hey ! I will like to work on this issue.. can you assign it to me please.

[2021-03-09 01:25] SumaiyaSafdar commented on #45
hello, I'll be glad to contribute to this issue .

[2021-03-09 01:26] SumaiyaSafdar commented on #45
please assign it to me under GSSCO'21

[2021-03-09 10:52] Abhishek765 commented on #51
I would like to work on this ??

[2021-03-09 10:53] digbijaya20 commented on #51
Can I work on this?

[2021-03-09 10:55] srisatya1197 commented on #51
I want to contribute to Not properly aligned number of enrolled. Please assign me this task as a part of GSSoC'21

[2021-03-09 10:58] srisatya1197 commented on #49
I want to contribute to Unable multiple submission for a test issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 11:35] rahulii commented on #46
Hi @sukhpreet-singh1 , Please let me know if you are working on this issue, otherwise i ll take on.

[2021-03-09 11:37] sukhpreet-singh1 commented on #46
i am working on this and had made pull request also regarding the same

[2021-03-09 12:41] aavishkarmishra commented on #49
@subhangi2731 @anshika208 @srisatya1197
Please create your pull request, first valid pull request will be considered.
If required any help regarding issue or any other doubts just ping me.

Happy contributing 💯

[2021-03-09 14:38] AakankshaShah opened #57 "Imporve performance & automatically fetch questions from csv or excel or json file"
As we are using material-ui for frontend ,the website is quite slow.I can work on it and improve it.
Also I would like to add a feature to automatically fetch questions from csv or excel or json file.

Please assign me this under GSSOC'21 participant.

[2021-03-09 14:40] Sloth-Panda opened #58 "pr template"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

There is no pull request template so would like to add one

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

It will help understanding pr better

[2021-03-09 15:19] deepthiteki opened #59 "Spelling mistake in alert while trying to join already joined class"
The alert message has a spelling mistake.
"Already joined th class."

This message is displayed while trying to join a class that is already joined.

[2021-03-09 15:47] aavishkarmishra commented on #59
Yes @deepthiteki, ping me or mentors if any help is required.

[2021-03-09 15:58] aavishkarmishra commented on #57
@AakankshaShah I am assigning this issue to you, as this issue is quite big so I would like know your strategy and how much time it will take.

[2021-03-09 17:37] Esha-Sherring commented on #57
I would also like to contribute. I can also in coordination as this is a big issue

[2021-03-09 17:41] Ruchip16 commented on #58
@Sloth-Panda  Can you describe deeply whats the issue, I didn't understand, as I am interested to work on this issue so can you elaborate further?

[2021-03-09 17:43] Ruchip16 commented on #58
@Sloth-Panda Can I work on this issue?

[2021-03-09 18:17] aavishkarmishra opened #61 "Automatic Test submission"
**Describe the bug**
Test should automatically be submitted after time runs out.

**Expected Solution**
A call to handlesubmit() function after time is over.

**Additional context**
You can use setTimeout() or setInterval() funtions

[2021-03-09 18:24] aavishkarmishra opened #62 "Enhance Test card"
Please add **Max marks and duration** of the test in the test card.

And if you can enhance the UI of test card it will be appreciated.

[2021-03-09 18:28] Ruchip16 commented on #58
@Sloth-Panda Okay cool, thanks

[2021-03-09 18:42] Itsaadarsh commented on #47
Hello there @aavishkarmishra, I've written all the logic required for logging in with Facebook but I'll be needing an `appID` to connect with facebook's API, so while building this feature I created an demo `appID` by visiting here [developers.facebook.com](https://developers.facebook.com/)

So can you visit [developers.facebook.com](https://developers.facebook.com/) and create an account there an

[2021-03-09 18:53] aavishkarmishra commented on #62
I will assign this issue to you, ping me if anything is required from my end.

[2021-03-09 21:33] Jaagrav commented on #61
Hey, I am interested in working on this, can you assign me please?

[2021-03-09 21:34] Jaagrav commented on #49
Yeahh I would like to work on this issue as well, assign me pls

[2021-03-09 21:52] ksagraya commented on #61
Hey, I would like to work on it. Can you assign it to me as a part of GSSOC 2021?

[2021-03-10 05:18] #45 closed

[2021-03-10 05:20] #58 closed

[2021-03-10 05:21] #48 closed

[2021-03-10 05:24] krishna-y2000 commented on #50
@aavishkarmishra  Can I work on this issue to solve your problem . I am participant of GSSOC'21.

[2021-03-10 06:03] srisatya1197 commented on #50
ok cool!

[2021-03-10 06:36] shubhraagarwal opened #64 "Changing alignment of the enrolled courses number"
**Describe the bug**
The number of enrolled classes is aligned to the extreme left and it is looking bad.
![image](https://user-images.githubusercontent.com/67220475/110586964-fc218780-8198-11eb-9350-01998c2f1130.png)
I would like to enhance the alignment of this to center as a part of GS'SOC21

[2021-03-10 06:39] aavishkarmishra commented on #64
@shubhraagarwal  we have same issue #51 with a pull request waiting for review.

[2021-03-10 06:40] shubhraagarwal commented on #64
Okay, didn't notice that

[2021-03-10 07:20] AasthaGoyalgit commented on #61
Hi,
I would like to work on this issue. Could you please assign it to me?

Thanks!!

[2021-03-10 07:24] mohitms007 opened #65 "Adding Unit Tests to the frontend"
**Is your feature request related to a problem? Please describe.**
A good project should always have tests included so I want to test individual components of the website to make it more reliable and scable.

**Describe the solution you'd like**
I want to test the react components with jest and include the tests folder so that the maintainers can easily test the application.

**Describe alternativ

[2021-03-10 07:28] mohitms007 commented on #65
Can I be assigned this issue?

[2021-03-10 09:05] Sukriti-sood opened #66 "Issue while logging out"
**Describe the bug**
On logging out from a class,It  remain on the class.

![Manthan](https://user-images.githubusercontent.com/55010599/110603937-8e338b00-81ad-11eb-9ecc-e1c98c87db43.png)
@aavishkarmishra Please See , Is it considerable for the issue and can you assign it to me?

[2021-03-10 09:52] aavishkarmishra commented on #65
I am assigning this issue to you, please proceed with this issue and ping our mentors on GSSoC server if any help is required.

[2021-03-10 09:58] aavishkarmishra commented on #49
@subhangi2731 @anshika208 Are any one of you is working on this issue ?
Please create a pull request as soon as possible.

[2021-03-10 10:04] mohitms007 commented on #65
Alright I am going to start working on it. Thanks!

[2021-03-10 10:18] Sukriti-sood commented on #66
@aavishkarmishra  How to know about Mentors

[2021-03-10 11:08] anshika208 commented on #49
yes i m working on it  and soon will create a pr.

[2021-03-10 12:18] AakankshaShah commented on #57
@aavishkarmishra  I will try to complete it within 2 weeks .I will use backend server for extracting the questions from the file because handling with csv and json  is easy with NodeJs.

[2021-03-10 12:45] nishant23122000 opened #67 "Create Classroom"
I found one issue,

To create new class user must have to provide the SubjectCode , SubjectName.  but there is not validation applied.
so at this moment user can create class without subjectname and subjectcode.

![Capture](https://user-images.githubusercontent.com/53515714/110631482-93ec9900-81cc-11eb-927a-79886e0fad82.PNG)

Here class is created without subject code and name,...

So, as per my s

[2021-03-10 13:43] aavishkarmishra commented on #66
You can see them on project channel for manthan in GSSoC discord server.

[2021-03-10 15:06] muskaan-ag09 commented on #62
@aavishkarmishra Please assign this task to me.

[2021-03-10 15:39] hrushikesh-git commented on #47
Hello @aavishkarmishra I would like to work on this issue under GSSOC'21 can you assign it to me?

[2021-03-11 09:59] mohitms007 commented on #65
Update: will finish in a day or two.

[2021-03-11 10:17] Kriti-bit commented on #62
I would like to work on this, please assign this task to me

[2021-03-11 15:07] VrindaTyagi commented on #61
Hey, is this issue up for assignment? I would like to work on it.

[2021-03-11 16:05] mn-gt opened #71 "Issue in google login"
Hey @aavishkarmishra when I am doing login by google, after selecting Gmail id it is showing error-

![2021-03-11](https://user-images.githubusercontent.com/69010912/110816663-8d841d00-82b1-11eb-8538-7d58dab91e0c.png)

 So I want to work on this issue as a GSSOC participants, Please assign it to me-

[2021-03-12 06:26] Muditxofficial opened #73 "Add missing Start script in backend"
According to docs, we need to use nodemon to start the backend but due to missing script nothing happens. So, i would like to add start script and please add neccessary labels to this.

[2021-03-12 11:22] rohank2502 opened #74 "Add tech stack in read me ( with logo)"
I will like to add the tech stack used in this project with their logo this will make the project read me look attractive

[2021-03-12 11:54] iamabhi222 commented on #74
Go for it

[2021-03-12 11:58] iamabhi222 commented on #71
can you please also include the URL in the SS

[2021-03-12 13:54] Sandi-09 commented on #74
can i do this same thing and try my best to make the readme file more attractive

[2021-03-12 14:41] rohank2502 commented on #74
Thanks !!

[2021-03-12 15:38] #62 closed

[2021-03-12 16:42] dig9074vijay opened #78 "No of students enrolled not placed properly"
**No of students enrolled number not placed properly**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'NavBar'
2. Click on 'Three Horizontal Lines Icons'
3. See error (Number is displayed below enrolled)

**Expected behavior**
Number of students enrolled should appear in front the 'enrolled' text.

**Screenshots**
![bandicam 2021-03-12 08-35-50-927](https://user-images.githubuserconte

[2021-03-12 16:57] Abhishek765 commented on #51
@aavishkarmishra , @surajondev  please check I have created a new PR  #79

[2021-03-13 01:11] chauhanprakhar opened #80 "User Schema and routes"
I would like to implement user schema. Please mention apart from basic user details what you expect from user.

[2021-03-13 05:52] JadeMaveric opened #82 "Multiple Select and Numerical Answer Type Questions + (Dynamic #choices)"
**Is your feature request related to a problem? Please describe.**
Currently the app only provides MCQ type questions. If I was creating a test, I would expect to put in a healthy mix of NAT and MSQ as well.

**Describe the solution you'd like**
*(Assuming backward compatibility is required)*
The `QuestionSchema` model can be extended to hold a information about the type of question. A member like

[2021-03-13 06:07] JadeMaveric opened #83 "Test can be created anonymously"
**Describe the bug**
Creation of tests should only be limited to the teacher (Google Classrooms assumes this is the creator of the test). But the current system allows not only an random user logged in to create test, but also anonymous users on the internet. This is basic security requirement, and that would prevent anyone from using this app in a serious environment.

**To Reproduce**
Steps to r

[2021-03-13 06:13] JadeMaveric commented on #83
For a proper OAuth system I'd recommend switching to a backend library like passportjs. It provides middlewares for express that maintain login information via sessions (even persistent ones using cookies). This is more robust system that doing things client side. As a bonus, it also allows for authentication from multiple providers.

[2021-03-13 06:36] JadeMaveric opened #84 "Test creation Validation"
**Describe the bug**
There are multiple validation failures while creating tests.
* The test can be give negative marks
* Duration can be negative (rolls over when processed by backend)
* Answer provided in MCQ questions doesn't need to be one of the options (see bitfield in #82 for a solution)
* Number of questions can be negative
* Total marks and number of questions required in the generated te

[2021-03-13 06:37] JadeMaveric commented on #82
@aavishkarmishra please let me know how important backwards compatibility is.

[2021-03-13 06:47] abhay27chauhan opened #85 "No need to use body-parser when using express version 4.16+"
##Proposal

Express version 4.16+, their own body-parser implementation is now included in the default Express package so there is no need for you to download another dependency.

You have added a line to your code that looks like the following:

- app.use(bodyparser.json());

If you are using Express 4.16+ you can now replace that line with:

- **app.use(express.json());**

You also have the foll

[2021-03-13 06:48] abhay27chauhan commented on #85
I am a participant of GSSOC21, so please let me know if this is a valid proposal

[2021-03-13 11:06] Kritika495 commented on #78
can I work on this issue?

[2021-03-13 11:21] Soham-Official opened #86 "Errors are not handled properly while creating the test."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-03-13 11:24] #86 closed

[2021-03-13 11:28] Soham-Official opened #87 "Errors are not handled properly while creating the test."
Bug:
1.While creating test,according to the code no one can create a test without giving a valid duration..but conditions are not set properly so we can create the test without giving any durations....

**To Reproduce**
Steps to reproduce the behavior:
1.Create a Class
2.Create a test
3.fill all the details without giving marks
4.click next

**Expected behavior**
One should not be  able to create

[2021-03-13 11:31] aavishkarmishra commented on #82
Backward compatibility is not required as much,  we anyway have to update test view and create test according to this issue.
So according to me this will not create any problem, feel free to create pull request.

[2021-03-13 11:37] aavishkarmishra commented on #85
@abhay27chauhan Feel free to create pull request for this issue

[2021-03-13 11:43] Soham-Official commented on #87
is this a valid issue?please let me know if i can work on this or not

[2021-03-13 11:46] aavishkarmishra commented on #78
#51 is same issue with a pull request waiting for review

[2021-03-13 11:46] #78 closed

[2021-03-13 11:51] #74 closed

[2021-03-13 12:41] #73 closed

[2021-03-13 12:52] AshuKV commented on #83
Hey, I am interested in working on this. Can I work on this issue under GSSOC'21?

[2021-03-13 12:52] Soham-Official opened #90 "Class Cards are not responsive"
**Describe the bug**
As there is no limiting input size while creating a class,on big names class cards are not looking good as they got static(not responsive) css designs and also Delete button got hidden so one cannot able to delete their created class if their class name is big.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create Class'
2. Enter Big names in all fields
3. Delete

[2021-03-13 13:25] #51 closed

[2021-03-13 13:37] Vidisha-kayal commented on #90
@Kritika495 You can work on this issue if you are interested

[2021-03-13 13:53] Kritika495 commented on #90
Yes I am interested in working on it

[2021-03-13 14:01] nishant23122000 opened #91 "Test validation"
I notice some important bugs Please read it below in details,

I created new test and i enter negative marks also add long hours and minutes . but still there is not an error or proper validation. see below screenshot,

![Capture](https://user-images.githubusercontent.com/53515714/111032489-7e78a880-8432-11eb-8a5b-8b328ec079ff.PNG)

![Capture2](https://user-images.githubusercontent.com/53515714/11

[2021-03-13 14:13] kernal053 commented on #84
Hey, can I work on this issue as a participant of GSSOC'21 ?

[2021-03-13 14:25] Soham-Official commented on #90
should i start working on this issue?

[2021-03-13 14:59] Vidisha-kayal commented on #87
@Soham-Official yes you can work on this

[2021-03-13 15:02] Vidisha-kayal commented on #91
@nishant23122000 This issue is same with #84

[2021-03-13 15:02] #91 closed

[2021-03-13 15:05] Vidisha-kayal commented on #84
@kernal053 Yes, you can

[2021-03-13 15:17] Soham-Official commented on #87
okay thanks,i'm working on it

[2021-03-13 15:23] nishant23122000 commented on #91
ohk no problem i forget to show it @Vidisha-kayal

[2021-03-13 15:26] nishant23122000 commented on #91
Hey @Vidisha-kayal  i completed this issue just . can you check it .
if It's correct then i send pull request otherwise it will be ok to continue working of #84

https://user-images.githubusercontent.com/53515714/111035062-91917580-843e-11eb-9760-2f0beb8a954d.mp4

[2021-03-13 15:29] kernal053 commented on #84
Thank you, @Vidisha-kayal . Can any admin assign it to me ?

[2021-03-13 15:50] Vidisha-kayal commented on #91
@nishant23122000 Its ok please send the pull request in #84

[2021-03-13 15:51] mani9896 opened #92 "Express Validator for forms"
##Want to add express validator
###want to add express validators at backend to validate form DATA for different POST request.
###without validator , a user may be able to crash our application, by messing form constraints on frontend
###Please assign me this task , as a part of GSSOC 21

[2021-03-13 15:55] Vidisha-kayal commented on #83
@AshuKV yes

[2021-03-13 16:00] JadeMaveric commented on #82
Cools. I'll start working on a PR

[2021-03-13 16:02] aavishkarmishra commented on #47
@Itsaadarsh  Create a pull request with a placeholder for **App  Id** I will add that there.

[2021-03-13 16:06] Vidisha-kayal commented on #50
@srisatya1197 Do you want to work on this issue?

[2021-03-13 16:20] udaymittal7 opened #94 "Adding various security features"
Setting various HTTP headers using helmet
Data sanitization against no SQL injection and XSS
Rate limiter so the server won't get overload
Preventing parameter pollution

If you find it relevant, please assign me.
I am a participant of GGSOC, so please add the relevant tags too.

[2021-03-13 16:27] AasthaGoyalgit commented on #61
Thanks for assigning me this issue. I'm working on it.

On Sat, Mar 13, 2021, 21:36 Aavishkar Mishra ***@***.***>
wrote:

[2021-03-13 16:33] #87 closed

[2021-03-13 16:38] ksagraya commented on #61
Thanks for assigning me the issue, looking forward to work on it :)

On Sat 13 Mar, 2021, 21:57 AasthaGoyalgit, ***@***.***> wrote:

[2021-03-13 16:39] Ruchip16 commented on #50
@Vidisha-kayal  mam, I am already working on this issue actually due to a few interviews lined-up I have put this on hold for, but I am already up with code, but I am constantly getting mongoose error that's y it's stuck up

[2021-03-13 16:51] Soham-Official commented on #90
i created this issue...what makes you not assigning me in this issue?can anyone please explain...i'm bit confused

[2021-03-13 16:54] Vidisha-kayal commented on #90
@Soham-Official yes you can also start working on this issue.

[2021-03-13 16:57] Vidisha-kayal commented on #50
@Ruchip16 ok continue with it

[2021-03-14 10:26] udaymittal7 opened #97 "No need of body-parser in express version 4.16+"
Express version 4.16+, their own body-parser implementation is now included in the default Express package so there is no need for you to download another dependency.

You have added a line to your code that looks like the following:

app.use(bodyparser.json());
If you are using Express 4.16+ you can now replace that line with:

app.use(express.json());
You also have the following code in your env

[2021-03-14 11:54] nishant23122000 opened #98 "Generate class code link"
I have a have of a new feature,

Till now, If We have to join a class we need to add class code and this feature is great, but I want to append something in this,
For example, if a user creates a class and the user wants to invite his friend to class, so he will send a link that contains class code in the URL query. and his friend can join the class by clicking the link.

So this becomes great for

[2021-03-14 12:53] akshatvirmani commented on #61
I would like to work on this issue. Please assign this to me.

[2021-03-14 13:48] Aditya201551 opened #99 "Feature: Addition of dark mode"
@Vidisha-kayal

I would like to add dark mode to the web app

-> A button in the navbar to toggle light and dark mode anytime anywhere

I would like to work on this feature and deploy it as soon as possible it would be great if the team assign me this task

ThankYou(Gssoc 2021 participant)

[2021-03-14 16:03] Aryaman1706 opened #100 "More robust and random OTP."
**Is your feature request related to a problem? Please describe.**
We should have a more robust and random process for OTP generation. Math.random() usually gives similar results when run a few times.

**Describe the solution you'd like**
We can use something like [uuid](https://www.npmjs.com/package/uuid), [shortId](https://www.npmjs.com/package/shortid) or [randomatic](https://www.npmjs.com/pack

[2021-03-15 06:10] lakshita15 commented on #99
Hello, I am a participant of GSSoC'21. I can contribute to this issue.
Please assign me this task
Thank you!

[2021-03-15 07:47] aavishkarmishra commented on #98
Please continue with this amazing idea, I would love to experience this feature 💯

[2021-03-15 07:49] aavishkarmishra commented on #98
@nishant23122000 Would you like work on this feature ?

[2021-03-15 07:51] aavishkarmishra commented on #100
Please continue with this issue 💯

[2021-03-15 07:52] aavishkarmishra commented on #97
#85 is the same issue.

[2021-03-15 07:52] #97 closed

[2021-03-15 07:59] Aditya201551 commented on #99
Hello, @lakshita15 I raised this issue so I would like to work on this issue thankyou

[2021-03-15 08:53] #85 closed

[2021-03-15 12:23] nishant23122000 commented on #98
@aavishkarmishra  sure man 😎

[2021-03-15 13:42] ankan1811 opened #104 "hmm"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-03-15 13:42] #104 closed

[2021-03-15 16:37] Aryaman1706 commented on #100
Hello @aavishkarmishra ! I want to discuss one thing.

**Issue**
- Since `code` is a unique identifier for classroom, this means that no two classrooms should have the same code.
- Now randomizing a 6 letter long string of lowercase, uppercase and digits will not make sure that all of the codes generated are unique.
-  Especially once the project expands, there would be thousands, and thousands of

[2021-03-15 16:48] Aryaman1706 commented on #100
Above is the pull request but it generates comparatively random code as of now.
I would start working on the aforementioned issue (the one talking about unique codes) once we have discussed it thoroughly.

[2021-03-15 20:51] #47 closed

[2021-03-16 02:33] Muditxofficial commented on #18
@aavishkarmishra Can you assign this to me if anybody not working on this.

[2021-03-16 06:45] rahulii commented on #46
Hi @aavishkarmishra ,let me take over the issue!

[2021-03-16 07:40] tend2infinity commented on #18
I would like to work on this issue, if anyone is already working on it, I would love to collaborate with that guy!

[2021-03-16 09:42] Aryaman1706 commented on #100
Hello @aavishkarmishra ! I read a bit more about Math.random() and randomatic.
This is how randomatic generates random number:- `res += mask.charAt(parseInt(mathRandom() * mask.length, 10));`.
As depicted this also uses math.random under the hood with some optimizations.

Giving more thought to the above comment, I figured that the probability of code duplication is rare but still I feel that we s

[2021-03-16 11:34] DARKPROGRAMMER16 commented on #98
Can I join in with you @nishant23122000
for this feature.??

[2021-03-16 11:53] iamabhi222 opened #108 "Login UI"
Google and Facebook login button appearance should be optimized.

![image](https://user-images.githubusercontent.com/56785486/111304721-10272680-867c-11eb-93cc-6cbc73f8e7e0.png)

[2021-03-16 12:13] iamabhi222 opened #109 "Restrict the input text"
As now we are able to enter the class names, subject and subject code of infinite length we must restrict it to a defined value
![image](https://user-images.githubusercontent.com/56785486/111306936-d73c8100-867e-11eb-9308-9019351bc946.png)

[2021-03-16 12:14] iamabhi222 commented on #71
I don't see any issue there so closing this till we find one.

[2021-03-16 12:14] #71 closed

[2021-03-16 13:42] niyatitotala commented on #108
Hello, Can I work on this? @iamabhi222

[2021-03-16 13:52] romasinha commented on #108
Hey @iamabhi222 , can I work on this issue please?

[2021-03-16 16:54] arkumari2000 commented on #109
Hello, I wanted to give it a try as a participant of gssoc'21
Please assign it to me

[2021-03-16 18:33] AshuKV commented on #108
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-16 18:48] AshuKV commented on #109
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-16 18:57] JadeMaveric opened #110 "Allow intermediate questions to be deleted"
Currently, only the last question in the list can be deleted. There is no way to delete intermediate questions.
I've already written some code for dynamic form elements as part of #82  and would like to integrate it for the questions as well.

[2021-03-17 04:31] sanjanasingh31 commented on #109
Hello, I m a gssoc'21 participant and I would like to work on this issue.

[2021-03-17 05:00] nishant23122000 opened #112 "Search Box"
For now, there is no issue to find a class. but in the future, there is more than 1 class and the user has to scroll down to find their desire class.

So, I think we should add a search box above the class list. and according to input in the **search box**, the classes will be dynamic change.

[2021-03-17 05:54] iamabhi222 commented on #109
On FIFO basis I am assigning you this issue, if you need any help reach out any of the mentors

[2021-03-17 05:55] iamabhi222 commented on #108
Go ahead!

[2021-03-17 05:59] arkumari2000 commented on #109
Thank you

[2021-03-17 06:26] arkumari2000 commented on #109
Can @iamabhi222 you please tell the exact limit of length we are supposed to have in these fields?

[2021-03-17 11:34] arkumari2000 opened #113 "Add Readme"
**Is your feature request related to a problem? Please describe.**
There is no readme in this project. Although CONTRIBUTING.md is present, but I think this is not enough from installing to running the project for the beginners.

**Describe the solution you'd like**
I think we should add readme file which will state how to install and run the client and server side in your machine after cloning th

[2021-03-17 11:35] arkumari2000 commented on #113
@iamabhi222 please check if this issue is valid, and if it is please assign it to me under gssoc'21 participant and add labels to it.
Thank you

[2021-03-17 12:57] ShambhaviSharma0110 commented on #108
Hey! I would really like to work on this please allow me to work on this as well...

[2021-03-17 12:58] ShambhaviSharma0110 commented on #99
Hey! I would really like to work on this please allow me to work on this as well...

[2021-03-17 12:58] ShambhaviSharma0110 commented on #100
Hey! I would really like to work on this please allow me to work on this as well...
GSSOC'21 participant

[2021-03-17 15:49] aavishkarmishra commented on #90
Please update the UI for navbar too
![image](https://user-images.githubusercontent.com/58372823/111496584-6ff9fc00-8766-11eb-9eaf-d7181f8cb20c.png)

[2021-03-17 15:56] #65 closed

[2021-03-17 16:06] Vidisha-kayal commented on #113
@arkumari2000 This issue has already been resolved.

[2021-03-17 16:06] #113 closed

[2021-03-17 16:09] #92 closed

[2021-03-17 16:16] Vidisha-kayal commented on #112
@nishant23122000 Do you want to work on this?

[2021-03-17 16:21] #100 closed

[2021-03-17 16:32] nishant23122000 commented on #112
@Vidisha-kayal yes

[2021-03-18 03:55] Soham-Official commented on #90
Okay..i'm working on it

[2021-03-18 03:57] AshuKV commented on #83
@Vidisha-kayal Can you please add another contributors to work on the same issue with me.

[2021-03-18 05:28] #46 closed

[2021-03-18 06:21] #90 closed

[2021-03-18 13:42] chauhanprakhar opened #119 "Adding token based authentication"
Some features like creating tests should only be restricted to the teacher who is logged in and has their account on Manthan.
I would like to use token-based authentication with a JWT token. If anyone has any other idea of Role-based authentication please suggest, otherwise I would like to work on the token-based authentication system under GSSOC.

[2021-03-18 16:45] Aditya201551 commented on #99
@Vidisha-kayal please assign this task to @lakshita15 or @ShambhaviSharma0110 because my exams have been started so I won't be able to work on this issue for a while so it's better to pass this issue to someone else......Thank You!

[2021-03-19 12:06] aniketbiswas21 opened #121 "Delete corresponding tests from database, if the classroom is deleted"
**Is your feature request related to a problem? Please describe.**
If one deletes a classroom, the test related to that classroom is not removed from the database. We can remove that test as this would save storage space.

**Describe the solution you'd like**
We can trigger a remove hook that will look for tests with the classroom code and perform cascade deletion. This hook would be triggered as

[2021-03-20 05:19] mis-coder opened #122 "add a different home page"
I feel there must be home page (of course different from the main component which is already there).

So we make a home page describing about Manthan and what its all about. We keep it static and make it attractive. And when someone logs in he/she can see the main one which I think is kind of dashboard or personal area for each user.

Please allow me to work on this and help make Manthan better by

[2021-03-20 06:21] balarka135 opened #123 "improve side navber Ui design"
I want to improve the side navber UI design of this website. I am a GSSoC participant. I would like to work on this . Please assign me.

[2021-03-20 07:48] #109 closed

[2021-03-20 12:33] arkumari2000 opened #125 "Create a new class or join class should be link"
**Is your feature request related to a problem? Please describe.**
On the main page there is written create a new class or join class. But it is a simple text and not a link which will direct it to create or join class.

**Describe the solution you'd like**
That simple text should be link that will open the form of create a new class or join a class.

**Additional context**
![Screenshot 2021-03-20

[2021-03-20 22:03] osamamagdy commented on #83
Hey @Vidisha-kayal , I am a GSSoC 2021 participant
I want to work on this along with @AshuKV  if applicable

[2021-03-21 08:17] osamamagdy commented on #83
@AshuKV can you mail me at osamamagdy174@gmail.com to communicate about how should we approach the solution. Also, i think we should have a meeting together asap 😃

[2021-03-21 13:18] osamamagdy commented on #83
@Vidisha-kayal  as @AshuKV is not responding I will start working on this on my own. and sending daily updates here.
*Day 1*
First: it came to me that there is no authentication system on the website at all, so I think that there is a need for a signup/login page for the website and also using authentication middlewares we have to check for authentication and authorization of each user first befor

[2021-03-21 13:22] osamamagdy commented on #83
@Vidisha-kayal could you gave me feedback that my approach for the fix is right
Also, I would like to mention that this work is very big for one person so I will need another contributor with me.
I am waiting for @AshuKV to reach to me so we can start immediately.

[2021-03-21 13:25] osamamagdy commented on #83
@Vidisha-kayal  as @AshuKV is not responding I will start working on this on my own. and sending daily updates here.
*Day 1*
First: it came to me that there is no authentication system on the website at all, so I think that there is a need to redirect for a separate signup/login page for the website and also using authentication middlewares we have to check for authentication and authorization of

[2021-03-21 14:01] osamamagdy commented on #83
@Vidisha-kayal can you tell me the feedback about this approach. Also, I can't find the login/signup routes aren't they implemented?

[2021-03-21 14:15] AshuKV commented on #83
Hey @osamamagdy I have mailed you my skype id hours back. Please do check. We can connect anytime

[2021-03-21 14:28] aavishkarmishra commented on #122
@mis-coder Please proceed and add screenshots of UI changes in the pull request.

[2021-03-21 14:35] osamamagdy commented on #83
@AshuKV mailed you back.

[2021-03-21 14:39] #98 closed

[2021-03-21 14:44] aavishkarmishra commented on #123
@balarka135 Please mention the UI changes/enhancements you want to apply on navbar .

[2021-03-21 14:46] aavishkarmishra commented on #125
@arkumari2000 What is the requirement of link, as after login you can create or join class from floating button in bottom right corner ?

[2021-03-21 14:49] mis-coder commented on #122
Sure!

[2021-03-21 14:53] arkumari2000 commented on #125
Yes that I know, but I was saying this for user experience. It will make our user experience better.
If the person is not logged in and click on this it will direct them to login form first and if the user is logged in then it will directly open the form.
If you think this will be better for the website then why not implement this?

[2021-03-21 14:57] #67 closed

[2021-03-21 15:01] #80 closed

[2021-03-21 15:02] aavishkarmishra commented on #83
There is an implementation for User sign up and login routes but they are not being used for now, you can use that.

[2021-03-21 15:07] aavishkarmishra commented on #119
@chauhanprakhar Some of the contributors are working on this issue under #83, you can interact with them if you like.

[2021-03-22 11:55] osamamagdy commented on #83
@aavishkarmishra
I and @AshuKV  are working on it now and we will continue from the pull request that was merged in #120

[2021-03-22 13:08] nishant23122000 opened #126 "Current class highlight"
**Is your feature request related to a problem? Please describe.**
In the future, there might be multiple classes of users and the user will click class name inside the drawer section but after a click on the class and again user shows the drawer section then how the user know currently which class is active?

**Describe the solution you'd like**
I think We should **highlight** the active class. S

[2021-03-22 13:56] balarka135 commented on #123
@aavishkarmishra improvement or new features list in the side nav i want to add
1.  add a calendar in  the side nav as like google classroom
2.  changing the font for better UI.
3.  add a notes app

[2021-03-22 14:27] mis-coder commented on #122
@aavishkarmishra  Please check discord! I have sent the prototype.

[2021-03-22 16:51] Avnish5 commented on #123
Kindly assign this task to me under GSSOC 2021.

[2021-03-22 16:52] Avnish5 commented on #18
Kindly assign this task to me under GSSOC 2021.

[2021-03-22 16:52] Avnish5 commented on #49
Kindly assign this task to me under GSSOC 2021.

[2021-03-22 20:40] osamamagdy commented on #83
@JadeMaveric @AshuKV @aavishkarmishra @aavishkarmishra @Vidisha-kayal  I created a PR #128 for this issue
Can you review it 😃

[2021-03-23 09:16] Kriti-bit opened #129 "Duplicate Options"
**Describe the bug**
Options to a question may not always be unique. I would like to fix this bug. This will ensure that the options for a question are always unique and the same option does not get repeated.

**Expected behavior**
An error should be displayed in case the instructor enters same option twice.

**Screenshots**

![image](https://user-images.githubusercontent.com/69788174/112122050-e2

[2021-03-23 09:16] Kriti-bit opened #130 "Duplicate Questions"
**Describe the bug**
A question may not always be unique. I would like to fix this bug. This will ensure that the question is always unique and the same question does not get repeated.

**Expected behavior**
An error should be displayed in case the instructor enters same question twice.

**Screenshots**
![image](https://user-images.githubusercontent.com/69788174/112122518-5f260c00-8be6-11eb-9c79-e

[2021-03-23 09:16] Kriti-bit commented on #130
Please assign this issue to me.

[2021-03-23 09:16] Kriti-bit commented on #129
Please assign this issue to me.

[2021-03-23 13:44] NishantJawla opened #131 "Documentation Update"
Under the Installation section in point 3, nodemon is not working

[2021-03-23 15:40] riyasavant commented on #121
Can I work on this issue?

[2021-03-24 08:15] Kriti-bit opened #134 "Tests having same name"
**Describe the bug**
An instructor can create tests with the same name, this may lead to confusion

**Expected behavior**
An error should be displayed in case the instructor creates two tests with the same name.

**Screenshots**
![image](https://user-images.githubusercontent.com/69788174/112276582-ec309a00-8ca6-11eb-9ba4-5474c8ae2580.png)

[2021-03-24 08:15] Kriti-bit commented on #134
I am a GSSoC'21 participant. Please assign this issue to me.

[2021-03-24 16:30] #126 closed

[2021-03-25 07:27] nishant23122000 opened #135 "Add image for class"
**Describe the bug**
Till now, if we create a new class, in each class there is fix black background which is static,

![image](https://user-images.githubusercontent.com/53515714/112434054-1a76ae00-8d69-11eb-931d-80ef6b34b917.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to + icon right bottom'
2. Click on  create a class
3. Fill the form
4. you will see the background color black

[2021-03-25 08:02] balarka135 commented on #123
Thank u sir for assigning me.

[2021-03-25 09:49] lopeselio commented on #112
Is the issue still open ?
@Vidisha-kayal

[2021-03-25 10:12] nishant23122000 commented on #112
@lopeselio  I pull this code but i think it's under review

[2021-03-25 12:29] #122 closed

[2021-03-25 16:30] Kriti-bit opened #137 "Malicious data sent to the server"
**Describe the bug**
In the current route if someone creates a question using a name that has already been used it gets saved into the database even if it is checked on the client side. Anyone can do it using a curl request too. So this should be fixed on the server side.

[2021-03-25 16:31] tend2infinity commented on #18
@aavishkarmishra, First of all, sorry for the delay that I've made in getting back to this issue, there were some personal issues. Now, see right now in this project a user can give a test any number of times, and just because of that a single user can have many different scores. So, I feel that to make a scores page, we need to ensure that a single user can give the test only once. I will create

[2021-03-25 16:48] tend2infinity opened #138 "Ensuring that a single user can give a particular test only once"
**Describe the bug**
In this project right now a user enrolled in a particular course can give a particular test any number of times. This issue will create a problem when we will try to solve issue #18 because a single user should have a unique score for a particular test.

**Expected behavior**
A single user should be able to give a test only once .

**Screenshots**
I am attaching screenshots of

[2021-03-25 18:57] Ruchip16 commented on #50
@aavishkarmishra I am sorry for making PR I am working on it will give you a PR request today please assign me this issue

[2021-03-26 07:24] Ruchip16 commented on #50
@aavishkarmishra I have to add a countdown timer function in src/components/TestCard/TestCard.js right?

[2021-03-27 14:56] KajalSinghBAGHEL commented on #131
I am GSSOC 21 participant I am a beginner and would like to work on this issue and learn new things, please assign me.

[2021-03-27 23:14] abhay27chauhan opened #140 "Error after initial connection was established, not handled"
**Is your feature request related to a problem? Please describe.**

snippet of you code -

[code]

read this pls, the error handling part -
https://mongoosejs.com/docs/connections.html#:~:text=If%20initial%20connection%20fails%2C%20Mongoose,after%20initial%20connection%20was%20established.

you have handle two errors -

if promise is rejected -> using the above code i have proposed
error after ini

[2021-03-28 15:06] balarka135 commented on #123
sir, due to the college semester exam I was unable to work for the last three days. Now the exam is over, i worked on 20% on this issue, I will complete it within the next 3 days. Sorry for being late on level 2 issues.

[2021-03-28 17:41] #131 closed

[2021-03-29 15:49] atulya2109 commented on #84
Hi, the validations are being performed on the client side only and not on the server side. So, if instead of creating the test using the UI I send a post request to the server with marks as negative, the test will be created. Therefore, validations need to be performed server side as well and in case the validations fail, the user should be redirected accordingly

[2021-03-31 06:50] iamabhi222 commented on #140
ok make the changes

[2021-03-31 12:17] #83 closed

[2021-03-31 12:17] #119 closed

[2021-03-31 12:37] RuchiGitHu commented on #125
I am able to do so using HTML, CSS.
Please assign this issue to me..

[2021-03-31 14:06] #112 closed

[2021-04-01 04:34] VenomFate-619 opened #143 "404 page interrupt in class route and test route"
**Describe the bug**
When I am visiting the classroom page, the 404 page is coming for some second and after that class page is showing up.
On the class page if clicked a floating button to create a test again 404 pages is rendered for some time.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a class
2. From dashboard visit classroom page i.e /class/:classId
3. 404 page is up (error

[2021-04-01 06:41] aavishkarmishra commented on #138
This issue has been resolved.

[2021-04-01 06:43] #49 closed

[2021-04-01 06:44] #66 closed

[2021-04-01 06:51] aavishkarmishra commented on #121
@riyasavant @aniketbiswas21  Is there any updated related to this issue ?

[2021-04-01 06:52] aavishkarmishra commented on #129
@Kriti-bit is there any update related to this issue ?

[2021-04-01 06:53] aavishkarmishra commented on #143
@VenomFate-619 Are you willing to work on this issue ?

[2021-04-01 07:19] Kriti-bit commented on #129
@aavishkarmishra I have completed the backend for the issues. Can I create a PR of the same?

[2021-04-01 07:22] aniketbiswas21 commented on #121
@aavishkarmishra I will make a PR tonight.

[2021-04-01 08:11] aavishkarmishra commented on #129
Yes, and you can commit new changes on same branch so the pull request will get updated accordingly.

[2021-04-01 08:14] Kriti-bit commented on #137
@aavishkarmishra created pull request #144 for this issue.
Please review it.
Thanks

[2021-04-01 08:49] VenomFate-619 commented on #143
Yes I will do , tell me is docker setup is necessary to run project  , I am new to docker

[2021-04-01 09:10] aavishkarmishra commented on #143
No its not necessary.

[2021-04-01 17:11] atulya2109 opened #146 "HTTP Request validations aren't being performed on the backend"
**Describe the bug**
Test validations are performed only on the client side and not on the backend. Even though client side validations restrict every day users from sending in garbage or malicious data any one with the know hows of HTTP Requests can send a curl request directly to the end point with the data which could lead to unforeseen circumstances.

**To Reproduce**
Steps to reproduce the be

[2021-04-01 17:18] atulya2109 opened #147 "Follow better branching practices."
**Is your feature request related to a problem? Please describe.**
Instead of pushing code directly to the main branch, there should be different branches to push the code because main branch should hold code that's been tested and doesn't break.

**Describe the solution you'd like**
Different branches should be created for development, features, hot-fixes and releases. I will leave a link down be

[2021-04-02 09:57] #121 closed

[2021-04-02 16:18] aavishkarmishra commented on #50
It will be in the `client/components/tests/Test.js`. It will show how much time left for the test.

[2021-04-02 16:49] #135 closed

[2021-04-03 05:30] VenomFate-619 commented on #143
share the env.example file

[2021-04-03 08:28] nishant23122000 opened #149 "Adding Custom themes"
**Is your feature request related to a problem? Please describe.**
I think we should apply themes to our website,

**Describe the solution you'd like**
Till now, we have only white background on each page, but what if we provide an option for custom themes, check below video for a better understanding

https://user-images.githubusercontent.com/53515714/113472979-3faf9e80-9484-11eb-952f-e84f6a7e6d0

[2021-04-03 14:11] aavishkarmishra commented on #149
@nishant23122000 would you like to work on this issue?

[2021-04-03 14:26] VenomFate-619 commented on #143
@aavishkarmishra can you assign me this

[2021-04-03 14:55] nishant23122000 commented on #149
Yes sure

[2021-04-03 16:10] atulya2109 opened #151 "Secure the api endpoints"
**Describe the bug**
This is an umbrella issue for all the issues that could be related to securing endpoints. For example, when creating a test the class id is passed in the POST Request but it isn't verified on the back end whether the user is the admin of the class or not. Therefore, anyone can create tests in any class. Similarly, in delete test endpoint as well it should be checked whether th

[2021-04-03 16:32] atulya2109 opened #152 "[SERIOUS] MongoDB URI committed to repo"
**Describe the bug**
default.json under the config folder has Mongo Uri in the file which is a sensitive information. Sensitive information such as API Tokens and in this case Mongo Uri with the username and password of the data base should not be committed to a public repository. Instead of loading sensitive data this way, one should use a .env file and provide a sample .env for contributors.

**

[2021-04-03 16:34] atulya2109 commented on #152
There are bots on Github that scan for sensitive information that has been committed to public repos so as to use it for their own purposes.

[2021-04-03 16:46] atulya2109 commented on #152
SInce, loading of environment variables has already been implemented using config I won't be implementing it with dotenv rather I will add the config.json to .gitignore and add a sample config.json file.

[2021-04-04 03:26] VenomFate-619 commented on #151
Yes, we should create middlewares to check whether the user is created of that class

[2021-04-04 10:28] aavishkarmishra commented on #152
This is added because, so many contributors are having issues with mongo-uri for development. So I added a uri for development purposes.

[2021-04-04 10:32] aavishkarmishra commented on #151
@atulya2109 are you willing to work on this issue?

[2021-04-04 10:33] atulya2109 commented on #151
@aavishkarmishra  Yeah, sure.

[2021-04-04 10:35] atulya2109 commented on #152
You can share it on discord I guess. If you share it this way it might get crawled by bots. Or there could be documentation on how they can locally set up a mongodb server

[2021-04-04 11:33] #146 closed

[2021-04-05 13:22] ASHISH-GITHUB2495 opened #155 "Get in touch section for manthan...."
### **Get in touch section with manthan**

 **Feature...**

- A get in touch section in the footer , where any one can write query, feedback, suggestion etc which
  will be redirected to the email or anywhere.
- I have already worked in this section for other project ... and i also want to contribute to this to...
- Below is the screenshot where i have coded for other projects

 **Screenshot**
 ![

[2021-04-06 13:13] #149 closed

[2021-04-07 07:50] kunal299 commented on #99
@Vidisha-kayal I am really interested in working on this issue. Please assign this issue to me, I would complete it asap.

[2021-04-07 07:55] kunal299 commented on #50
@aavishkarmishra Hey, I am interested in solving this issue. Plz assign it to me.

[2021-04-07 12:16] nishant23122000 opened #158 "Repeatedly Calling loaduser"
**Describe the bug**
[code]

Calling **loaduser** function in the App.js file which sends an API request to check whether the user token is valid or not is maybe not a proper codebase, because this method called whenever the App component renders or user reload page , so there might be Chances that server takes a load.

**To Reproduce**

**Expected behavior**
I think when user logins then we send

[2021-04-07 13:46] #57 closed

[2021-04-07 16:23] kunal299 commented on #50
@aavishkarmishra Hey I am facing this error. Plz help me out with this.
![image](https://user-images.githubusercontent.com/71486434/113900602-9fdb7300-97eb-11eb-9f85-6d836e772637.png)

[2021-04-08 07:13] atulya2109 commented on #151
@aavishkarmishra The pull request was merged but my points weren't updated. Please look into it

[2021-04-09 13:57] kunal299 commented on #50
@aavishkarmishra Sir, please help me out

[2021-04-09 14:10] AADITYA-SINGH497 commented on #123
I want to improve the side navbar UI design of this website. I am a GSsoC participant. I would like to work on this. Please assign me.

[2021-04-09 14:11] AADITYA-SINGH497 commented on #18
Kindly assign this task to me under GSSOC 2021.

[2021-04-09 16:19] aavishkarmishra commented on #50
use git pull and try reinstalling node modules and keep your internet connection on.
I don't know exactly why this error is coming.

[2021-04-09 17:17] #143 closed

[2021-04-09 17:19] #158 closed

[2021-04-09 20:52] aavishkarmishra opened #160 "No students enrolled should be white ."
No students enrolled should be white .
![Screenshot from 2021-04-10 02-20-28](https://user-images.githubusercontent.com/58372823/114239211-66e5fe80-99a3-11eb-83bb-1c1a764ceb5f.png)

[2021-04-10 04:02] M2kishore commented on #160
I think making it red would look more like a warning:)

[2021-04-10 09:02] M2kishore opened #161 "change theme button and add classroom button overlap!"
**The Bug**
resizing the window cause the add classroom and theme button to overlap
**To Reproduce**
Steps to reproduce the behavior:
1. resize the browser window to reduce the width

**Expected behavior**
Overlapping of the buttons

**Screenshots**
![image](https://user-images.githubusercontent.com/60045529/114264000-076d0a80-9a06-11eb-88d9-f047cdd7185b.png)
![image](https://user-images.githubuse

[2021-04-10 14:20] aavishkarmishra commented on #161
@M2kishore Would you like to work on this issue?

[2021-04-10 15:25] M2kishore commented on #161
With some guidance I can work on this

[2021-04-10 16:12] M2kishore commented on #161
I can do this but I need some guidance from your side. I have experience with javascript but not with react.
I tried to add a CSS property in ClassButton.js but didn't workout

[2021-04-11 05:09] #161 closed

[2021-04-11 11:25] nishant23122000 opened #163 "Chat Section"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

We should now implement the chat section where the users of the classes can message each other.
we need to follow the below steps,
1) Create the dummy UI of chat Section
2) Add Socket Io in the frontend and backend
3) Start connecting the socket with a chat UI.
4) Testing the add the events

*

[2021-04-11 17:45] dchhavi commented on #160
I really want to work on this issue.

[2021-04-11 20:29] aavishkarmishra commented on #163
@nishant23122000 Are you willing to work on this issue?

[2021-04-12 04:11] nishant23122000 commented on #163
Yes

[2021-04-12 05:01] VenomFate-619 opened #164 "horizontal scroll bar"
A clear and concise description of what the bug is.
A horizontal scroll bar is there because of margin:0 auto; on jss23 class

Steps to reproduce the behavior:
1. Go to /dashboard
2. Scroll to right
4. See error

A clear and concise description of what you expected to happen.
No horizontal scroll bar should be there
**Screenshots**
If applicable, add screenshots to help explain your problem.
Misal

[2021-04-12 05:03] VenomFate-619 commented on #164
Is it **correct** or **appopriate**  to report minor UI bugs

[2021-04-12 05:08] VenomFate-619 commented on #94
Can I do this?

[2021-04-12 05:09] VenomFate-619 commented on #163
Can I join with @nishant23122000  to implement this feature

[2021-04-12 05:54] subham-paul opened #165 "Sign in by Google and Facebook."
**Describe the feature you'd like**
Adding Sign in with Google and Facebook options.

[2021-04-13 12:05] #137 closed

[2021-04-13 12:10] aavishkarmishra commented on #165
@subham-paul Would you like to work on this issue ?

[2021-04-13 17:03] naqeeb2710 commented on #165
i would like to work on this issue

can u assign me this

[2021-04-13 17:24] naqeeb2710 commented on #61
Hey , I would Like to Work On This Issue

[2021-04-13 17:28] dchhavi commented on #160
@aavishkarmishra Can you please provide me the code directory of this issue?

[2021-04-14 09:44] aavishkarmishra commented on #160
@dchhavi You can find it [here](https://github.com/Manthan933/Manthan/blob/main/client/src/components/classroom/Classroom.js#L2080).

[2021-04-14 19:10] hsnice16 opened #167 "Problem in App Bar of Navbar"
**Describe the bug**
On the route "/ " (or landing page), when we select the Dashboard option from the Drawer icon without log in, It redirects us to the "/login" route (or login page). But then on Navbar, the color of App Bar becomes **transparent**, but it should be inherit at that time because the route is still "/login".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://www.m

[2021-04-14 19:43] hsnice16 commented on #167
Can I start working on it?

[2021-04-14 19:48] hsnice16 commented on #167
And please assign this issue to me.

[2021-04-15 08:29] Castella1313 opened #168 "Creating Setting Section"
Creating Setting Section

[2021-04-15 08:33] Castella1313 commented on #168
@iamabhi222 Is this a valid feature?

[2021-04-15 10:20] iamabhi222 commented on #168
yes definitely

[2021-04-15 10:23] iamabhi222 commented on #165
ok @naqeeb2710  you can work on this

[2021-04-15 13:49] Castella1313 commented on #168
@iamabhi222 Can somebody please help me! I don't know MongoDB. Where should I start with to work on this issue.

[2021-04-16 11:40] VenomFate-619 commented on #168
@Castella1313
add a route and controller for updating info about the user at the backend keep in mind to validate and sanitize the data
**Frontend changes**

1. add redux logic
2. Make UI for it
3. add a private route

[2021-04-16 16:04] naqeeb2710 commented on #61
hey, can you guide me on this issue?

[2021-04-16 16:14] aavishkarmishra commented on #61
You have to submit the test the after test duration is up after starting the test.

[2021-04-17 07:34] VenomFate-619 opened #170 "button disabled during auth"
**Describe the bug**
The button should be disabled during Signup/Sign-in so that user cannot make another request as well as to show a loading process just like netify login page
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Signup/Sign-in'
2. Click on button
3. Till request is completed one can click the button one more time which in turn will make one more request

**Expected beha

[2021-04-17 15:44] aavishkarmishra commented on #170
@VenomFate-619 Would you like to work on this issue?

[2021-04-17 17:55] VenomFate-619 commented on #170
Yes I will do it yes

[2021-04-19 13:44] PuneetPunamiya opened #171 "Configure eslint and prettier for the UI application"
Configure eslint and prettier for the UI application

    The UI application should have a lint and prettier configuration which will
    keep the code in one format (for e.g. proper spacing, etc) and will make
    the code look preetier as well

    Configuring eslint and preetier and executing the commands like
    npm run lint and npx prettier --write . will give the warnings/errors
    which t

[2021-04-19 17:19] aavishkarmishra commented on #171
@PuneetPunamiya Would you like to work on this issue?

[2021-04-20 04:02] PuneetPunamiya commented on #171
@aavishkarmishra  Yes will you please assign it to me

[2021-04-20 13:59] #167 closed

[2021-04-20 14:09] PuneetPunamiya commented on #171
@aavishkarmishra   would you mind if I also submit a patch which fixes the lint errors because after this pr get's merged it would break the application

[2021-04-20 17:53] aavishkarmishra commented on #171
You can include both changes in a single pull request, and I will increase the level the of issue.

[2021-04-22 06:30] kanishka8276 opened #174 "Show and hide password option in login form"
**Is your feature request related to a problem? Please describe.**
A show and hide password option in login form will make it more user friendly.
Please assign this to me.

[2021-04-24 07:53] codebuzzer01 opened #177 "Automatic logout after closing the tab"
**Describe the bug**
If the user signed in and closes the manthan tab before signing out, a bug occurs which could be seen if user once again visits the website. There is no option of sign-in instead it says log-out.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.manthan-app.org!'
2. Click on 'Login and after getting logged in close the tab without logging out '
3. Again open 'ww

[2021-04-24 07:54] codebuzzer01 commented on #177
@aavishkarmishra Verify this?

[2021-04-24 08:08] aavishkarmishra commented on #177
This is not a bug, you can go to dashboard form navbar. And user is logged in until he logout, so that user do not have login every time.

[2021-04-24 08:43] codebuzzer01 commented on #177
ok cool.. thnx @aavishkarmishra

[2021-04-24 08:43] #177 closed

[2021-04-24 22:11] Shivangi-ch opened #178 "Add footer to the main page of website."
**Is your feature request related to a problem? Please describe.**
 No its not related to a problem. But I think there should be a footer to the website.

**Describe the solution you'd like**
I would like to implement the footer to the website.

**Describe alternatives you've considered**
 None

**Additional context**
I am a GGSOC participant.
Please assign this to me.

[2021-04-24 22:22] Shivangi-ch opened #179 "Add floating animation to the image on the main page"
**Is your feature request related to a problem? Please describe.**
NO it is not related to a problem But I think the floating image will look more attractive.

**Describe the solution you'd like**
 I would like to make the image look attractive.
**Describe alternatives you've considered**
None.

**Additional context**
I am a GSSOC  participant.
Please assign this to me.

[2021-04-24 22:36] Shivangi-ch opened #180 "Main page is not responsive.Text overlaps."
**Describe the bug**
The page is not responsive. Text overlaps and the background vanishes at the bottom.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://www.manthan-app.org/#!'
2. Click on 'Ctrl +Shift+I'
3. Scroll down to 'bottom'
4. See error

**Expected behavior**
The text should not overlap.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Sc

[2021-04-25 08:39] ShrutiOmer opened #181 "Add subject Code in class template"
**Describe the bug**
In the template of classes the Class name overlaps with the options.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '..Create Class.'
2. Give  'large name to class name....'
3. Click On 'Class name'
4. A template opens
5. In that menu and class name overlaps

**Expected behavior**
They should not overlaps.

**Screenshots**
![image](https://user-images.githubuserco

[2021-04-25 08:46] ShrutiOmer opened #182 "Update option not working"
**Describe the bug**
Updation option for class name, subject name etc through edit are not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'create class.'
2. Click on 'edit'
3.nothing gets updated
4. See error

**Expected behavior**
updated things must be seen

**Screenshots**
![image](https://user-images.githubusercontent.com/75009990/115986989-bbf35880-a5d0-11eb-90e3-fbb627da

[2021-04-25 10:18] aavishkarmishra commented on #181
![Screenshot from 2021-04-25 15-45-12](https://user-images.githubusercontent.com/58372823/115989735-6cfff000-a5dd-11eb-909d-0fd9eccd90c4.png)

@ShrutiOmer I am unable observe this bug, might be some issue of browser .

[2021-04-25 10:33] #170 closed

[2021-04-25 10:39] #171 closed

[2021-04-25 10:42] #174 closed

[2021-04-25 10:44] #164 closed

[2021-04-25 10:52] ShrutiOmer commented on #181
Yes may be due to browser.

[2021-04-25 10:57] ShrutiOmer commented on #181
The subject Code is not mentioned in this template. Can I add this ?

[2021-04-26 08:07] aavishkarmishra commented on #181
Yes, @ShrutiOmer  you can if you want to.

[2021-04-26 08:15] #179 closed

[2021-04-26 13:42] ShrutiOmer opened #187 "Change UI of copy Invite link"
**Is your feature request related to a problem? Please describe.**
Copy Invite link button is not different from other content. I want to change UI for this button.

**Describe the solution you'd like**
   I can  make button look like
![invite link](https://user-images.githubusercontent.com/75009990/116091220-410a6a80-a6c2-11eb-97b5-2d8dbb20fc93.png)
  Currently it is looking like

![invite link](

[2021-04-27 04:03] #182 closed

[2021-04-27 04:22] iamabhi222 commented on #187
you can use a <Tooltip/> rather than button it may look good!

[2021-04-27 06:53] ShrutiOmer commented on #187
@iamabhi222 can you elaborate more, I am not able to understand

[2021-04-27 07:55] VenomFate-619 opened #188 "trace:true in redux dev tool"
**Is your feature request related to a problem? Please describe.**
trace should be true in redux dev tools so that it will be easier to debug the application

**Describe the solution you'd like**
trace:true

**Additional context**
![image](https://user-images.githubusercontent.com/67755128/116204375-57fc9b80-a75a-11eb-8e99-2b4906bf2c36.png)

[2021-04-27 15:06] ShrutiOmer opened #189 "Login icon"
**Is your feature request related to a problem? Please describe.**
Login icon is not in main page of website.
As logout icon is present , similarly I want to add login icon.

**Additional context**
Please assign this issue to me.

![image](https://user-images.githubusercontent.com/75009990/116265014-610c5d80-a798-11eb-8a85-29febdaea290.png)

[2021-04-28 05:13] iamabhi222 commented on #187
check material-ui tooltip component

[2021-04-28 05:33] VenomFate-619 commented on #188
Can I work on these issue 🤔

[2021-04-29 04:19] PuneetPunamiya opened #191 "Enable Lint Check In Github Actions"
Since we have eslint and preetier configured now, should we add lint checks in Github Actions so that lint will be checked when a pr is raised and reviewer will not have to do it manually since Github Actions will already do it

[2021-04-29 04:21] PuneetPunamiya commented on #191
@aavishkarmishra  Could you please assign me this issue ?

[2021-05-01 03:57] subhangi2731 commented on #94
please assign me

[2021-05-01 04:04] subhangi2731 commented on #18
assign me this please

[2021-05-01 08:59] #178 closed

[2021-05-02 03:37] kumarishalini6 opened #194 "Improving sign in and sign up pages"
The length of box is too long so i want to make it perfect and the logo is very small and i also want to give shadow to the boxes

![Manthan - Personal - Microsoft​ Edge 5_2_2021 09_00_47 AM](https://user-images.githubusercontent.com/69043944/116801257-8eb51780-aab4-11eb-8abd-a503e23ad601.png)

[2021-05-02 03:37] kumarishalini6 commented on #194
I want to work on this issue under GSSoC'21 participant.

[2021-05-02 06:06] #180 closed

[2021-05-03 04:57] AbhipsaGuru1012 opened #195 "Changing the opacity of background image in Dashboard page"
**Describe the bug**
Changing the opacity of background image in Dashboard page so that the text is clearly visible

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
When the opacity will be reduced, the text on the page will be clearly visible.

**Screenshots**
If applicable, add screenshots to help ex

[2021-05-03 11:19] ShrutiOmer commented on #187
Okk I will try to use that.

[2021-05-03 12:24] kumarishalini6 commented on #194
Can i use this image

![depositphotos_85627808-stock-illustration-blue-login-button](https://user-images.githubusercontent.com/69043944/116875494-7da8fb00-abc7-11eb-859f-f2e5ebcc526a.jpg)

[2021-05-03 12:29] ShrutiOmer commented on #187
![image](https://user-images.githubusercontent.com/75009990/116875808-2479af80-ac39-11eb-9eb9-eae1d4f1829a.png)
See I have made it like this. If its fine I will make pr @iamabhi222

[2021-05-03 16:27] Shivangi-ch opened #197 "User friendly hovering effect on logout button."
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I would like to add User friendly hovering effect on logout button.

Please assign this to me.

[2021-05-03 16:38] Shivangi-ch opened #198 "Footer in sketch section."
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
 I would like to add the same footer which is there in other sections of website to the sketch section too.

Please assign this to me.

[2021-05-03 16:38] #198 closed

[2021-05-04 09:16] kumarishalini6 commented on #194
I have send PR please check it .

[2021-05-04 09:22] kumarishalini6 opened #200 "Forget password"
**Describe the bug**
There should be option of forget password in login page, i want to work on this issue under GSSoC'21 .

[2021-05-04 14:04] #194 closed

[2021-05-04 14:05] #189 closed

[2021-05-04 14:06] #181 closed

[2021-05-04 14:09] kumarishalini6 commented on #200
Please assign this issue

[2021-05-04 16:26] kumarishalini6 commented on #200
i have send PR please review it.

[2021-05-04 19:11] kumarishalini6 opened #202 "Feedback page"
There should be a feedback page in navbar that shows as how many people like our website how can we make it more powerful etc . I want to work on this issue under GSSoC'21 .

[2021-05-05 06:52] VenomFate-619 opened #203 "adding remember me functionality"
**Is your feature request related to a problem? Please describe.**
remember me feature is not working ,it is not implemented in backend

**Describe the solution you'd like**
on check-in remember me checkbox it should increase the token expire time

[2021-05-05 08:41] Vishal1003 opened #204 "UPDATE & DELETE endpoints for USERS"
**Feature Request**
Once a user is entered there is no option to update his profile (his name, email etc.). Suppose I entered a wrong name while registering then there should be an option there to update that. Moreover it is very much possible that the admin wants to delete an unauthorized profile then there should be an option to delete the user as well.

**Solution**
I'll be adding the update an

[2021-05-06 11:00] #197 closed

[2021-05-06 11:05] iamabhi222 commented on #204
we were expecting this issue to be solved in #168 but now I think if you want to work on this than you also need to create the setting page

[2021-05-08 12:55] #204 closed

[2021-05-09 08:24] subhangi2731 commented on #94
@aavishkarmishra can you please help me in this issue. I have some doubts?

[2021-05-12 06:26] #187 closed

[2021-05-12 17:22] garvitgupta13 opened #209 "Homepage is not responsive"
**Describe the bug**
The `All rights reserved. Copyright © Manthan 2021` overlays the heading of welcome page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to chrome inspect
2. Switch to mobile
3. See error

**Expected behavior**
The copyright statement should be at the end of page

**Screenshots**
![image](https://user-images.githubusercontent.com/70805691/118017557-63fc7600-b374-11eb-

[2021-05-12 17:23] garvitgupta13 commented on #209
Please assign me this issue under `gssoc21`

[2021-05-12 18:04] chazuttu commented on #99
I am GSSOC'21 Participant. Please assign this issue to me and review my PR for this issue. Thank you

[2021-05-13 05:51] shiv-30 commented on #209
I am a gssoc'21 participant and I want to work on this issue.
So please assign this issue to me.

[2021-05-13 14:35] Shivangi-ch opened #210 "Clean the code."
**Describe the bug**
- Due to a lot of contributions, the code is messy right now. For example improper indentation, unesseccary spaces/tabs, lack of comments to explain the code and extra commented code.
- All this makes it difficult for beginner contributors to understand the code.
So the code should be cleaned
**Additional context**
Please assign this to me under gssoc21.

[2021-05-14 07:42] garvitgupta13 commented on #209
Hey @iamabhi222 I have observed that in the localhost the footer is already fixed but the heading is distorted, so can I fix that under this issue and create a PR
![image](https://user-images.githubusercontent.com/70805691/118238304-f9ebea00-b4b5-11eb-82d8-c15d6c0ac593.png)

[2021-05-14 07:50] garvitgupta13 commented on #209
I have fixed the heading, can I create a PR
![image](https://user-images.githubusercontent.com/70805691/118239148-06bd0d80-b4b7-11eb-8e33-8e23ee55623b.png)

[2021-05-15 07:44] srishtij2000 commented on #209
Can I work on this issue?

[2021-05-16 15:27] Jassi10000 commented on #165
Is there any activity on this
As I also want to try hands on this

[2021-05-17 07:01] iamabhi222 commented on #209
yes

[2021-05-17 07:02] iamabhi222 commented on #165
yes you can!

[2021-05-17 11:03] SUCHITRAGIRI opened #212 "Email id verification for new sign up users"
**Is your feature request related to a problem? Please describe.**
When I was exploring this project I have noticed that there were no restriction of email ID for sign up, so 1st I signed up with my own valid email ID then for testing purpose when I entered a dummy email ID which also accepted, strange right!
It should not be there.

**Describe the solution you'd like**
So, I want to add one featu

[2021-05-17 11:12] SUCHITRAGIRI commented on #212
@JadeMaveric @Kathuria @atulya2109 @PuneetPunamiya
Assign me this issue so that I can work on it:)
Thanks!

[2021-05-17 11:43] SUCHITRAGIRI opened #213 "Improve project photo in docs"
**Is your feature request related to a problem? Please describe.**
In README.md the "New Project" pic is not so much attractive, I want to improve it by replacing with the project homepage pics with some changes!

Kindly assign me this issue so that I can work on it as soon as possible:)
@Kathuria @atulya2109 @PuneetPunamiya @imakash3011

[2021-05-18 13:32] AmrutaKoshe opened #214 "Copy invite link""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-05-18 13:37] AmrutaKoshe opened #215 ""Copy invite link" button doesn't work?"
**Describe the bug**
After creating a class, a copy invite link button is displayed on the screen to share the link with others. However, after pasting, there is nothing that is copied. Is that just a dummy button?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://www.manthan-app.org/
2. Click on Login and enter your details
3. Create a new class with all the details
4. Click on t

[2021-05-18 13:38] #214 closed

[2021-05-18 15:31] #209 closed

[2021-05-18 15:33] #203 closed

[2021-05-19 11:39] garvitgupta13 opened #216 "Footer covers the heading"
**Describe the bug**
Multiple footers are present

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Only 1 footer should be there and the other one needs to be removed

**Screenshots**
![image](https://user-images.githubusercontent.com/70805691/118806541-d6b1a800-b8c4-11eb-9723-30ff79ffc500.png)

**Desk

[2021-05-20 09:32] SUCHITRAGIRI commented on #212
@aavishkarmishra can you help me out about docker set up actually I am very new to docker,  I am facing difficulty:(
Actually I have installed docker on my machine(windows) but wsl2 is not downloading. I did my all possible thing and also I am trying from 2 days if you can help it would  be better!

[2021-05-20 10:34] SUCHITRAGIRI commented on #212
Yeah! I have already done via this and run the project on my local machine then I noticed in README about docker, so I had to move into it:(
So, I want to tell you that if here docker is not used then we should update the documentation part because It will mislead people like me!
And one thing if you want I can update the README, just let me :)

[2021-05-21 04:55] VenomFate-619 commented on #215
Can i work on this issue

[2021-05-22 14:59] kumarishalini6 commented on #202
not important

[2021-05-22 14:59] #202 closed

[2021-05-22 17:06] aavishkarmishra commented on #215
This feature works correctly in the local host so I have no idea why this is happening.
@AmrutaKoshe @VenomFate-619
If anyone of you have a solution for it you can work on this issue. I would also like to know why this is happening 😃

[2021-05-23 10:35] Siddhant-K-code commented on #215
If anybody wants to work on this, just fix this line: https://github.com/Manthan933/Manthan/blob/main/client/src/components/classroom/Classroom.js#L116

[2021-05-23 10:42] AmrutaKoshe commented on #215
Okay will try it. Thankyou!

[2021-05-23 11:49] shobit1337 commented on #61
@aavishkarmishra Is this feature is still required to add? if yes, You can assign it to me.. I would like to work on it.

[2021-05-24 08:04] adysis14 commented on #216
Hey! I'm interested in solving this issue . I would be very grateful if you assign this iisue to me under GSSOC'21

Thank You!

[2021-05-24 08:05] adysis14 commented on #160
Hey! I'm interested in solving this issue . I would be very grateful if you assign this issue to me under GSSOC'21

Thank You!

[2021-05-24 08:06] adysis14 commented on #191
Hey! I'm interested in solving this issue . I would be very grateful if you assign this issue to me under GSSOC'21

Thank You!

[2021-05-24 08:07] adysis14 commented on #212
Hey! I'm interested in solving this issue . I would be very grateful if you assign this issue to me under GSSOC'21

Thank You!

[2021-05-24 09:37] garvitgupta13 commented on #216
I will be creating PR by today

[2021-05-24 13:42] AmrutaKoshe commented on #215
@aavishkarmishra Hey! I have created a pr... and it works on local host , but there's no way for me to tell whether it will also work on the main site ... so can you check it

[2021-05-25 04:46] #216 closed

[2021-05-25 06:21] #215 closed

[2021-05-25 16:57] HarshUdai opened #220 "Improvement in the Home Page and Change in Font in theme settings"
Hello ,
My name is Harsh Udai,

I have checked the whole repo, and i want to contibute in this repo to make this platform more effective.
This is my first contribution/feature request  in GSSoC 21.

i have gone through the whole Manthan Platform, and i have observed some things that's need to be updated.

1) In Mathan's Home page, if we see the page in smaller resolution, the copyright bar appears

[2021-05-26 05:50] Devenkapoor7303 commented on #123
Can I work on this issue?

[2021-05-26 15:57] #195 closed

[2021-05-27 07:20] subhangi2731 opened #223 "Setting up ESLint in the project"
As the project grows bigger, it is important that the code is linted properly to ensure the consistency and quality of the code
To achieve this, we should set up ESLint in the project.

[2021-05-27 07:20] subhangi2731 commented on #223
@aavishkarmishra please assign this issue to me

[2021-05-27 09:35] #213 closed

[2021-05-29 07:25] HarshUdai commented on #220
@aavishkarmishra hello, i have created PR please review it.

[2021-05-29 10:41] #220 closed

[2021-05-31 09:49] rray14 opened #225 "Add features section"
**Is your feature request related to a problem? Please describe.**
Currently, the landing page doesn't have much elements

**Describe the solution you'd like**
I would like to add a features section that specifies what Manthan provides

**Describe alternatives you've considered**
Or a section on why choose Manthan and who can use it

[2021-06-06 01:46] #123 closed

[2021-06-06 01:46] #125 closed

[2021-06-06 01:46] #129 closed

[2021-06-06 01:46] #130 closed

[2021-06-06 01:46] #152 closed

[2021-06-06 01:46] #160 closed

[2021-06-06 01:46] #165 closed

[2021-06-06 01:46] #223 closed

[2021-06-06 01:47] #18 closed

[2021-06-07 07:49] yogi2103 opened #226 "Logo is not loading"
**Describe the bug**
A clear and concise description of what the bug is.
Logo is not loading on the url "https://github.com/Manthan933/Manthan/wiki"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scree

[2021-06-07 23:31] prudhvirajstark commented on #226
Hello,

@aavishkarmishra The root cause of the bug comes from _Footer file in Manthan.wiki

In the below line, the image(Method Draw Image.png) is Missing or not found.

 --    ![Manthan Logo](https://github.com/aavishkarmishra/Manthan/blob/main/Method%20Draw%20Image.png)

## Work Arounds
 --    Add the Image logo (image) in the profile(aavishkarmishra) inside Manthan folder
### Or
 --    Add the

[2021-06-08 18:08] yogi2103 commented on #226
Even the images uploaded by @prudhvirajstark are not visible itself here.

[2021-06-23 11:51] saymedgm commented on #155
please assign me this issue

[2021-06-23 20:25] aavishkarmishra commented on #155
@saymedgm you can directly send your pull request.

[2021-06-23 20:27] #226 closed

[2021-06-30 05:38] VenomFate-619 commented on #61
Hey 👋🏽  , I would like to work on this issue

[2021-06-30 10:11] aavishkarmishra commented on #61
@VenomFate-619 You can create a pull request and ping me anything is required from my side.

[2021-07-16 05:57] VenomFate-619 opened #227 "copy link bug"
**Describe the bug**
Copy invite link copied the URL not code of classroom like this (http://localhost:3000/join/qOtdzb) so if I paste it in join classroom input field it produces an error

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'classroom page'
2. Click on 'copy invite link'
3. Login with another user not paste that link in join classroom
4. See error

**Screenshots**
![image

[2021-08-18 07:19] Amoghtech opened #228 "Different folders for Backend and Frontend"
Can i make different folders for frontend and backend?

[2021-08-24 17:01] Yash-271120 commented on #61
Is this issue resolved??
If not so I wish to work on this issue please assign it to me!!

[2021-08-25 12:08] kushal98 opened #230 "Swagger Docs for the APIs"
**Is your feature request related to a problem? Please describe.**
It would be good to have a API documentation page which can be used as a reference.

**Describe the solution you'd like**
I would like to work towards this by making a specific end-point for swagger.

[2021-08-25 12:24] #61 closed

[2021-08-25 12:25] #50 closed

[2021-08-26 15:19] AvineshTripathi opened #231 "prettier `␍` error"
when you start the app by typing npm start it shows error

![Screenshot (152)](https://user-images.githubusercontent.com/73980067/130990039-cb7d9bf4-ccc0-433f-85c5-46aea3fec3b3.png)

[2021-08-28 04:27] vishutiwari99 commented on #212
Hello Everyone, This is Vaibhav Tiwari. And I am just starting open source and want to contribute to this project. Can anyone assign me this issue to solve?

[2021-08-28 04:37] aavishkarmishra commented on #210
Sure @Sparshak20

[2021-08-28 04:38] #227 closed

[2021-08-28 04:39] aavishkarmishra commented on #212
Sure, please continue with this issue @vishutiwari99

[2021-08-28 04:42] #231 closed

[2021-08-28 04:45] #230 closed

[2021-08-28 04:45] #147 closed

[2021-08-28 04:45] #228 closed

[2021-08-28 04:45] #191 closed

[2021-08-28 04:45] #134 closed

[2021-08-28 04:45] #94 closed

[2021-08-29 00:27] vishutiwari99 commented on #212
Thanks @aavishkarmishra

[2021-09-02 15:48] swarangi203 commented on #200
I would like to take up the issue.

[2021-09-02 21:33] aavishkarmishra commented on #200
Ok @swarangi203, I will assign this issue to you.

[2021-09-09 14:32] amreekminocha commented on #200
Hi there!
Is the assigned person working on the task?
If not can I be assigned
I'll be glad to make the desired changes :)

[2021-09-09 14:36] swarangi203 commented on #200
Seems like I won't be able to work on the issue, its ok if its reassigned to @amreekminocha

[2021-09-13 06:37] amreekminocha commented on #200
Thanks for assigning me the role. I'll look into the issue asap

[2021-09-19 07:43] senpl opened #236 "Provide test types documentation"
**Is your feature request related to a problem? Please describe.**
Currently type is used in tests, but no description or anything describes what is it and how it differs

**Describe the solution you'd like**
Tooltip over type field to describe what this field is used for.

**Describe alternatives you've considered**
Wiki page with types description would also be nice, still I prefer tooltip. Also

[2021-09-19 13:15] aavishkarmishra commented on #236
@senpl would you like to work on this issue ?

[2021-09-19 15:04] senpl commented on #236
No. I have no idea what types even mean in this project. But providing description would probably help at least in some understanding.

[2021-09-19 19:32] SS-Ace commented on #99
Respected sir,
Can I also contribute to it?

[2021-09-20 19:23] SS-Ace commented on #99
thank you sir for assigning it to me but sir can you verify if the repository code is correct? as i was not able to deploy it locally.

[2021-09-20 20:01] aavishkarmishra commented on #99
Please check now, and make sure you have .env file.
You can refer here for format [#installation](https://github.com/Manthan933/Manthan/blob/main/README.md#installation).

[2021-09-20 20:03] SS-Ace commented on #99
ok sir thank you

[2021-09-20 20:21] SS-Ace commented on #99
yes sir now it is working.

[2021-09-21 09:16] SS-Ace commented on #99
Sir I was able to make dark mode according to the device if device is in dark mode then the app would also be in dark mode but the button to convert it into light mode is not working. Actually the button is not clickable(also checked in the console). I have put the new code in App.js and styles.css is used for styling. Can you help in this issue?

[2021-09-21 09:32] aavishkarmishra commented on #99
Instead of making changes in app.js you can make changes in
DashboardNavbar.js or DashboardSidebar.js and if required you can use redux
for state handling.

I hope this will help you.

You can also create the pull request, so that I can review the errors.

On Tue, 21 Sep 2021, 2:46 pm Sudhanshu Sharma, ***@***.***>
wrote:

[2021-09-21 09:33] SS-Ace commented on #99
Ok sir thank you🙏

[2021-11-15 15:45] aavishkarmishra commented on #236
Types refers to the type of a specific question in a test.
For example :
Type 1 questions are of 1 marks,
Type 2 questions are of 2 marks,
Type 3 questions are of 3 marks,
Type 4 questions are of 4 marks,

By this way user can set marks for each type question and set the no of questions to be selected in tests.

[2021-12-04 08:13] #99 closed

[2022-01-24 17:45] NeerajGartia21 commented on #200
Can I work on this issue?

[2022-03-07 17:56] aavishkarmishra opened #250 "Fix code scanning alert - Missing rate limiting"
Tracking issue for:
- [ ] https://github.com/Manthan933/Manthan/security/code-scanning/27

[2022-04-01 06:54] jyotivakare33 commented on #200
@aavishkarmishra Can you assign me this issue under GSSOC'22

[2022-04-08 17:22] aavishkarmishra commented on #200
@jyotivakare33
This repository is not registered in GSSOC22.